/*

by manihome
time of 2014.06

*/
@charset "utf-8";

*{margin:0;padding:0}
body{font-size:13px;font-family:arial;-webkit-text-size-adjust:none;line-height:1.62;background-color: #000}
body,html{overflow:hidden;overflow-y:auto;}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul,ol,li{list-style:none;}
em{font-style:normal}
img{border:none;}
input,img{vertical-align:middle;}
q:before, q:after { content:'' }
.fn-clear:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear{*zoom:1}
a{color:#666;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
section,aside,header,footer,hgroup,article{display:block}

.foot{width:100%;min-width:320px;margin-top:10px;padding:10px 0;color:#222;text-align:center;}
.foot a{color:#222;margin:0 3px;}

.share-tips{position: fixed;left:50%;top:10px;margin-left:-125px;width:250px;height:222px;z-index:1000;background:url(http://a.zhixun.in/plug/img/share-tips.png) center center no-repeat;background-size: 250px auto}

html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body { font-size:0.75em}
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block} 

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}
table th, table td { border:0}
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/*------------------------------------------------------------------------------------------------------------------------------*/

html { width: 100%; height: 100%; }
body { margin:0 auto; width:100%; background-size: auto; }
/**
 *  css sprite 
 */
.css_sprite01 { background:url(/template/10/img/sprite01.png) no-repeat; background-repeat: no-repeat; }

.f-fl { float:left; }
.f-fr { float:right; }
.f-imgW01 { max-width:640px; }
.f-imgW02 { max-width:320px; }
.f-tit01 { height:96px; line-height:96px; font-size:38px; color:#0e0e0e; text-align:center; }
.f-txt01 { font-size:24px; color:#646464; line-height:130%; }
.f-tid { text-indent:2em; }



.u-ipnut-198 { width:198px; }
.u-ipnut-540 { width:510px; }
.u-ipnut-540 { width:510px; }
.u-word { font-size:36px; color:#0e0e0e; text-align:center; }


.s-col01 { color:#ffae01; }
.s-col02 { color:#597d9a; }
.s-col03 { color:#23c4e5; }

.m-txt .expand { background-position: -120px 0; }
.m-page6 .m-map .tit p a span { background-position: 0 -61px; }
.m-page6 .m-intro .btn .time a span { background-position: -42px -61px; }
.m-page6 .m-intro .btn .tel a span { background-position: -84px -61px; }
.share_icon { background-position: -126px -61px; }
.close_map { background-position: -168px -61px; }
.audio_open { background-position: -60px 0; }
.audio_close { background-position: 0 0; }


.fn-audio { position:fixed; top:45px; right:35px; z-index:2000; width:60px; height:61px; line-height:120px; text-align:center; }
.fn-audio .btn p { width:60px; height:61px; }
.fn-audio .btn p span { display:none; width: 60px; height: 61px; }
.fn-audio .btn p span:first-child { display:inline-block; }
.fn-audio .btn audio { height:0; width:0; opacity:0; }


.audio_txt { position:fixed; top:59px; right:90px; height:60px; overflow:hidden; opacity:1; z-index:2000; 
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-0-transition: opacity 1s;
	transition: opacity 1s;
}
.audio_txt p { float:left; background:rgba(93,143,176,0.5); font-size:16px; color:#fff; font-weight:bold; }
.audio_txt p:first-child { padding:0 10px; height:40px; line-height:40px; border-bottom-left-radius:10px; border-top-left-radius:10px; }
.audio_txt p:last-child { 
	border-style: solid;
	border-width: 20px;
	border-color: transparent transparent transparent rgba(93,143,176,0.5);
	background:none;	
}
.audio_txt.close { opacity:0; }

/*------------------------------------------------------------------------------------------------------------------------*/

body {height: 100%; overflow: hidden;}

/*index*/
.p-index { /* position:relative;*/ height: 100%; width: 100%; overflow: hidden;display: none; }
.portrait .p-index { -webkit-transform: scale(0.4); margin-top: -44%; }

/*ģ�� m-*/
.m-page { position:absolute; left:0; top:0%; height:100%; width:100%}
.m-page.show { z-index:10; display:block; }
.m-page.hide { z-index:5; display:none; }
.m-page.active { z-index:15; display:block; }


.m-img { width:100%; height:100%;/*background-size:cover!important*/}
/*
.m-img img { width:100%; height:100%; }
*/
.m-txt { position:absolute;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.m-txt h2 { font-size:38px; color:#ffcc00; margin-bottom:16px; }
.m-txt h3 { font-size:26px; color:#ffcc00; margin-bottom:8px; }
.m-txt p { padding-left:1.5%; font-size:24px; color:#fff; margin-bottom:18px; line-height:140%; }
.m-txt p:last-child { margin-bottom:0; }
.m-txt .expand { display:block; position:absolute; bottom:0; right:0; width:12px; height:12px; }
.m-txt.open .expand { display:none; }
.m-txt.hide_poniter .expand { display:none; }
.help-up{position: absolute;z-index: 100;width:45px ;height:45px; background-size:45px 45px; background-image:url(../img/top_turn.png);left: 50%;margin-left: -23.5px;bottom: 10px; }
.m-page2 .m-txt01 { top:30px; left:30px; padding:20px 10px; width:440px; height:280px; overflow:hidden; background:rgba(0,0,0,0.5); }
.m-page2 .m-txt01 .wtxt { width:100%; height:100%; overflow:hidden; }
.m-page2 .m-txt01.open { width:560px; }

.beforeimg{position: absolute;left: 50%;top: 50%;}
.weishequ_btn{width: 260px;height: 70px !important;display: block;position: absolute;left: 50%;top: 50%;margin-left: -131px;margin-top: 143px;}
	
@keyframes txtHide {
  0% { opacity:0.8; bottom:0; }
  40% { opacity:0.7; bottom:0; }
  90% { opacity:0; bottom:0; }
  100% { bottom:-100%; }
} 
@-webkit-keyframes txtHide {
  0% { opacity:0.8; bottom:0; }
  40% { opacity:0.7; bottom:0; }
  90% { opacity:0; bottom:0; }
  100% { bottom:-100%; }
}
@-moz-keyframes txtHide {
  0% { opacity:0.8; bottom:0; }
  40% { opacity:0.7; bottom:0; }
  90 { opacity:0; bottom:0; }
  100% { bottom:-100%; }
}
@-o-keyframes txtHide {
  0% { opacity:0.8; bottom:0; }
  40% { opacity:0.7; bottom:0; }
  90% { opacity:0; bottom:0; }
  100% { bottom:-100%; }
}
@-ms-keyframes txtHide {
  0% { opacity:0.8; bottom:0; }
  40% { opacity:0.7; bottom:0; }
  90% { opacity:0; bottom:0; }
  100% { bottom:-100%; }
}					

/**loading****/
.loading{margin:0 auto; width:600px;position:fixed;top:38%;left:0;display:none;}
.loading img{text-align:center;margin-left:48%;height:60px;width:60px;}


/* share */
.share-content {position:fixed;left:0px;top:0px;height:100%; width:100%; background:rgba(0,0,0,0.7);opacity: 0;z-index:-1;}
.m-spopup {width:84%; border-radius:8px;margin:80% auto 0;text-align:center;
			-webkit-transform: scale(0.2);
			-moz-transform: scale(0.2);
			-ms-transform: scale(0.2);
			-o-transform: scale(0.2);
			transform: scale(0.2);

			transition: all 0.4s;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			opacity: 0;
}
.share-content.open{
			opacity: 1;
}
.share-content .m-spopup.open{
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
			opacity: 1;
}
.m-spopup a{display:inline-block;color:#fff;font-size:26px;margin:0px 12px;}
.m-spopup a img{border-radius:12%;height:90px;width:90px;}
.m-spopup .share-btn{background:#fff;border:1px solid #fff;border-radius:8px;display:block;color:#000;margin-top:30px;line-height:60px;}

/* pageLoading */
.pageLoading { display:none; position:fixed; top:0; left:0; z-index:99999; height:100%; width:100%; background:rgba(0,0,0,0.6); }
.pageLoading img { position:absolute; top:40%; left:50%; height:100px; width:100px; margin:-50px 0 0 -50px; }


.btn-boder-color.open { 
	-moz-box-shadow: 0 0 8px rgba(241,68,40,0.8), 0 0 8px 2px rgba(241,68,40,0.4) inset; 
	-ms-box-shadow: 0 0 8px rgba(241,68,40,0.8), 0 0 8px 2px rgba(241,68,40,0.4) inset; 
	-o-box-shadow: 0 0 8px rgba(241,68,40,0.8), 0 0 8px 2px rgba(241,68,40,0.4) inset; 
	-webkit-box-shadow: 0 0 8px rgba(241,68,40,0.8), 0 0 8px 2px rgba(241,68,40,0.4) inset; 
	box-shadow: 0 0 8px(241,68,40,0.8), 0 0 8px 2px rgba(241,68,40,0.4) inset; 

	-webkit-transition:all 0.6s;
	-moz-transition:all 0.6s;
	-o-transition:all 0.6s;
	-ms-transition:all 0.6s;
	transition:all 0.6s;
}


.weixin-share{position:fixed; top:0; left:0; z-index:9999; height:100%; width:100%; background:rgba(0,0,0,0.7);display:none;}
.weixin-share img{height:auto;width:auto;position:absolute;right:50px;top:10px;}

.dropdown-menu > li {
    float: left;
    margin: 3px;
}
/*  */
#takealook{position:absolute;top:0;left:0;height:100%;width:100%}
.run-dialog{display:none;position:absolute;z-index:9999;top:0;left:0;width:100%;height:100%;background: center top no-repeat;background-size:100% auto}
.run-dialog-show{display:block}
.run-dialog a{position:absolute;top:0;right:0;width:100%;height:100%}
/*.run-input{position:relative}*/
.run-input div{position:absolute;width: 254px;height: 38px;font-size:25px;margin-left:-127px;left: 50%; top: 50%;}
.run-input input{text-indent: 1em;border:0;line-height:28px;background:none;width: 254px;height: 38px;font-size:20px;margin-left:-127px;left: 50%; top: 50%;position:absolute;background:transparent;}
/*.run-input input:focus{margin-top: -0px;}*/
.run-input .run-input-name{position: absolute;margin-top: -32px;}
.run-input .run-input-phone{margin-top: 19px;}
.run-input .run-input-id{margin-top: 75px;}
.run-input .run-input-now{position: absolute;display: block;left: 50%;top: 50%;margin-top: 142px;margin-left: -123px;text-indent: -9999px;width: 123px;height: 47px;}
.run-input .run-input-share{position: absolute;display: block;left: 50%;top: 50%;margin-top: 142px;margin-left: 3px;text-indent: -9999px;width: 123px;height: 47px;}
.m-img .img{position:absolute;top:0px;left:0px; width:100%; height:100%; background-position:center center; background-size: cover; margin:0px; padding:0px; border:0px;}
.player-button{position:fixed;z-index:10000;display:block;
top:10px;right:0px;width:50px;height:50px;background:url(../img/player-button.png) -50px 0;background-size:100px 50px;cursor:pointer;/*background-position: center;*/background-repeat: no-repeat;}
.player-button-stop{background-position:0 0}
.player-tip{position:absolute;top:5px;left:-140px;width:120px;background:rgba(59,89,114,.6);border-radius:4px 0 0 4px;font-size:10px;color:#ccc;line-height:20px;text-align:center}
.player-tip:after{content:"";position:absolute;right:-32px;width:0;height:0;border-left:16px solid rgba(59,89,114,.6);border-top:10px solid transparent;border-right:16px solid transparent;border-bottom:10px solid transparent;}
.copy{position: absolute;

bottom: 2px;
right: 10px;
/*left: 50%;
margin-left: -50px;*/color: #ccc}
.copycenter{position: absolute;

bottom: 2px;

left: 50%;
margin-left: -50px;color: #ccc}
.next-page{position: absolute;left: 50%;margin-left: -119px;width: 238px;height: 42px;top:50%;background-color: transparent;margin-top: 120px;z-index: 99999}
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.loading {
    position: fixed;
    top: 30%;
    left: 50%;
    margin: -14px 0 0 -42px;
    padding: 10px;
}

.loading-dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #fff;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  
    opacity: 0;
  
    -webkit-box-shadow: 0 0 2px black;
    -moz-box-shadow: 0 0 2px black;
    -ms-box-shadow: 0 0 2px black;
    -o-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
  
    -webkit-animation: loadingFade 1s infinite;
    -moz-animation: loadingFade 1s infinite;
    animation: loadingFade 1s infinite;
}

.loading-dot:nth-child(1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}
