<% title "教程-维斗喜帖教程|维斗喜帖,微信请帖,二维码请帖,电子喜帖,请柬" %>
<% meta_keywords "喜帖制作,请帖制作,请柬制作,漂亮微信请帖制作,商务请帖制作,二维码请柬教程,微信请柬教程,电子喜帖制作教程,结婚喜帖教程,微相册,微杂志,电子杂志,微信营销" %>
<% meta_description "维斗喜帖教你如何制作电子请帖： 如何在手机上制作电子请帖；如何在电脑上创建电子请帖；如何使用二维码请柬；如何发布电子喜帖。" %>

<!-- ==============================================
Blog
=============================================== -->
<section id="blog" class="white-bg padding-top-bottom">
  <div class="container">    
    <div class="row blog">
      <% @posts.each do |post| %>   
        <div class="col-md-4 col-sm-6 item scrollimation fade-up">
          <div class="icon">
            <%= link_to "/post/#{post.short_title}" do %>
              <%= image_tag qiniu_image_path(post.image_path, :thumbnail => '300x300>', :quality => 80), class: 'img-responsive img-center', alt: "#{post.title}" %>
            <% end %>
          </div>        
          <h2><%= link_to get_short_content(post.title, 38), "/post/#{post.short_title}" %></h2> 
        </div>
      <% end %>    
    </div>
    <%= will_paginate @posts %>
  </div>
</section>

