 <style>
  #bannerWarpper ol {}
  #bannerWarpper ol li { float: left; position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
  #bannerWarpper ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
  #bannerWarpper li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); background-color: #36D9C3;}
  #bannerWarpper li.playing a { color: #000; }
  #bannerWarpper li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

  @media screen and (max-device-width: 480px) {
    #bannerWarpper  { position: relative; left: -3%; }
  }
</style>

<div class="row" id="bannerWarpper">
  <div class="col-md-8 col-sm-12">
    <div class="row">
      <% get_banners.each do |img| %>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img data-src="<%= img %>" src="<%= img %>" alt="<%= img %>" width="120px">
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <p id="current-select"> 请点击左侧图片选择</p>
    <button type="button" class="btn btn-active" data-dismiss="modal" aria-hidden="true">保存并关闭</button>
  </div>
</div>

<script language="javascript">
  // $('.banner').on('click', function() {
  //     var img = $('button[name="rating"].active').val();
  //     $('#site_page_banner').val(img);
  //     $('#current-select').html("你选择的封面： " + img)
  //     // $("#myModal").modal("hide");
  //     // $("#myModal").removeData('bs.modal');
  // });

  // Load in a track on click
  $('#bannerWarpper .thumbnail').click(function(e) {
    e.preventDefault();
    $(this).addClass('playing').siblings().removeClass('playing');
    var img = $('img', this).attr('src')
    //assign src to form input
    $('#site_page_banner').val(img);
    //update notice
    $('#current-select').html("你选择是："+ img);
  });
</script>