<!-- START 3 column variable height pricing table(Min-Max) -->
<div class="page-header">
  <h2>我们坚持做最好的产品，为大家提供统一的服务价格，执行标准的服务流程。</h2>
</div>
<div class="pricing-table pricing-variable-height pricing-three-column">
  <div class="plan">
    <div class="plan-name">
      <h2>个人版</h2>
      <span>￥100/1个</span>
    </div>
    <ul>
      <li class="plan-feature">创意指导</li>
      <li class="plan-feature">功能后台</li>
      <li class="plan-feature">无限免费修改</li>
      <li class="plan-feature"><a href="#" class="btn btn-meflat btn-block btn-plan-select"> 在线购买 </a></li>
    </ul>
  </div>
  <div class="plan">
    <div class="plan-name">
      <h2>团购版</h2>
      <span>￥600/8个</span>
    </div>
    <ul>
      <li class="plan-feature">7x24售后</li>
      <li class="plan-feature">支持消费码</li>
      <li class="plan-feature">无限修改次数</li>
      <li class="plan-feature">提供技术培训</li>
      <li class="plan-feature"><a href="#" class="btn btn-meflat btn-block btn-plan-select"> 在线购买 </a></li>
    </ul>
  </div>
  <div class="plan">
    <div class="plan-name">
      <h2>商户版</h2>
      <span>￥3000/年</span>
    </div>
    <ul>
      <li class="plan-feature">100+个应用</li>
      <li class="plan-feature">赠送商户主页</li>
      <li class="plan-feature">技术培训和指导</li>
      <li class="plan-feature">定制商户模板</li>
      <li class="plan-feature">灵活的支付方式</li>
      <li class="plan-feature"><a href="#" class="btn btn-meflat btn-block btn-plan-select"> 在线购买 </a></li>
    </ul> 
  </div>
</div>
<!-- END 3 column variable height pricing table(Min-Max) -->
