<% title "维斗喜帖视频教程之－如何制作微信请帖,二维码请帖,电子喜帖,请柬" %>
<% meta_keywords "喜帖制作视频教程,请帖制作视频教程,请柬制作视频教程,漂亮微信请帖制作视频教程,商务请帖制作视频教程,微信请柬教程视频教程,微相册视频教程,微杂志视频教程,电子杂志视频教程" %>
<% meta_description "视频教程维斗喜帖教你如何制作电子请帖： 如何在手机上制作电子请帖视频教程；如何在电脑上创建电子请帖视频教程；如何使用二维码请柬视频教程；如何发布电子喜帖视频教程。" %>

<% content_for :head do %>
  <link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/4.11/video.js"></script>
  <script>
    videojs.options.flash.swf = "http://example.com/path/to/video-js.swf"
  </script>
  <style type="text/css">
    .video-tag{
      display: none;
      width: 1px;
      height: 1px;
    }
  </style>
<% end %>


<!-- ==============================================
Video
=============================================== -->
<section id="portfolio" class="gray-bg padding-top-bottom">
  
  <div class="container">
    
    <header class="section-header text-center">
      
      <h1 class="scrollimation scale-in">视频教程</h1>
      <p>维斗喜帖为大家分享微应用的制作方法，通过视频的形式简洁明了，您就算不会操作电脑，也能够轻松几分钟完成一个微应用的制作.</p>
      
    </header>
    
    <!--==== Portfolio Filters ====-->

    <!--End portfolio filters -->
      
  </div><!--End portfolio header -->
      
  <div class="container masonry-wrapper scrollimation fade-in">
    
    <div id="projects-container">
      
      <!-- ==============================================
      SINGLE PROJECT ITEM
      =============================================== -->
      <article class="project-item video-item web-design">
        
        <img class="img-responsive project-image" src="/videos/thumb1.png" alt="维斗喜帖视频教程1"><!--Project thumb -->
        
        <div class="hover-mask">
          <h2 class="project-title">如何制作商务邀请函</h2><!--Project Title -->
          <p>维斗喜帖</p><!--Project Subtitle -->
        </div>
        
        <!--==== Project Preview HTML ====-->
        <div class="sr-only project-description"
          data-category="维斗喜帖"
          data-date="视频教程"
          data-client="微邀请制作"
          data-link="www.wedxt.com"
          data-descr="维斗喜帖，高大上的微邀请."
          data-images="assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg"
          >
          <div class="video-tag">
            <video id="example_video_1" class="video-js vjs-default-skin"
              controls preload="auto" width="745" height="425"
              poster="/videos/banner1.png"
             <source src="http://tm-music.qiniudn.com/video-biz-xunhuanfanye" type='video/mp4' />
             <source src="http://tm-music.qiniudn.com/video-biz-xunhuanfanye" type='video/webm' />
             <source src="http://tm-music.qiniudn.com/video-biz-xunhuanfanye" type='video/ogg' />
             <p class="vjs-no-js">你使用的浏览器不支持此视频的播放</p>
            </video>
          </div>

          <div class="">
            <h3 class="bottom_bordered">[微杂志]循环翻页微杂志应用特点：</h3>
            <ol>
              <li>循环上下翻页的微杂志</li>
              <li>配合背景音乐，欣赏闲情怡景</li>
              <li>封面的擦擦效果增强体验</li>
              <li>无限图片张数，发挥您的创意</li>
            </ol>
            <h3 class="bottom_bordered">[微杂志]循环翻页微杂志分享场景：</h3>
            <ol>
              <li>分享到朋友圈：漂亮的标题和封面直接展现在朋友圈</li>
              <li>发送给微信好友、QQ好友</li>
              <li>编辑一条带链接的短信（后台有提供发送通道）</li>
              <li>分享到社交网络（微博、微信、QQ空间、百度空间、搜狐、人人全部都有）</li>
            </ol>
          </div>
          <p class="text-right"><a class="btn btn-meflat icon-right" href="http://www.wedxt.com/templates/6">查看模版<i class="fa fa-arrow-right"></i></a></p>
        </div>
      </article>
      <!-- ==============================================
      END PROJECT ITEM
      =============================================== -->
      <!-- ==============================================
      SINGLE PROJECT ITEM
      =============================================== -->
      <article class="project-item video-item web-design">
        
        <img class="img-responsive project-image" src="/videos/thumb2.png" alt="维斗喜帖视频教程2"><!--Project thumb -->
        
        <div class="hover-mask">
          <h2 class="project-title">如何制作微相册</h2><!--Project Title -->
          <p>维斗喜帖</p><!--Project Subtitle -->
        </div>
        
        <!--==== Project Preview HTML ====-->
        <div class="sr-only project-description"
          data-category="维斗喜帖"
          data-date="视频教程"
          data-client="微相册"
          data-link="www.wedxt.com"
          data-descr="维斗喜帖，高大上的微相册."
          data-images="assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg"
          >
          <div class="video-tag">
            <video id="example_video_2" class="video-js vjs-default-skin"
              controls preload="auto" width="745" height="425"
              poster="/videos/banner1.png"
             <source src="http://tm-music.qiniudn.com/video-gundongyinxiao" type='video/mp4' />
             <source src="http://tm-music.qiniudn.com/video-gundongyinxiao" type='video/webm' />
             <source src="http://tm-music.qiniudn.com/video-gundongyinxiao" type='video/ogg' />
             <p class="vjs-no-js">你使用的浏览器不支持此视频的播放</p>
            </video>
          </div>

          <div class="">
            <h3 class="bottom_bordered">本教程主要讲解了以下知识点：</h3>
            <ol>
              <li>如何打开维斗喜帖（请认准我们的域名： wedxt.com）</li>
              <li>了解制作微应用的三种方法</li>
              <li>了解如何使用教程</li>
              <li>了解如何登录维斗喜帖</li>
              <li>介绍微相册的制作过程</li>
            </ol>
            <h3 class="bottom_bordered">维斗喜帖微应用的分享场景：</h3>
            <ol>
              <li>分享到朋友圈：漂亮的标题和封面直接展现在朋友圈</li>
              <li>发送给微信好友、QQ好友</li>
              <li>编辑一条带链接的短信（后台有提供发送通道）</li>
              <li>分享到社交网络（微博、微信、QQ空间、百度空间、搜狐、人人全部都有）</li>
            </ol>
          </div>
          <p class="text-right"><a class="btn btn-meflat icon-right" href="http://www.wedxt.com/templates/3">查看模版<i class="fa fa-arrow-right"></i></a></p>
        </div>
      </article>
      <!-- ==============================================
      END PROJECT ITEM
      =============================================== -->
      <!-- ==============================================
      SINGLE PROJECT ITEM
      =============================================== -->
      <article class="project-item video-item web-design">
        
        <img class="img-responsive project-image" src="/videos/thumb3.png" alt="维斗喜帖视频教程2"><!--Project thumb -->
        
        <div class="hover-mask">
          <h2 class="project-title">如何在手机上制作微应用</h2><!--Project Title -->
          <p>维斗喜帖</p><!--Project Subtitle -->
        </div>
        
        <!--==== Project Preview HTML ====-->
        <div class="sr-only project-description"
          data-category="维斗喜帖"
          data-date="视频"
          data-client="手机端制作教程"
          data-link="www.wedxt.com"
          data-descr="维斗喜帖，手机轻应用."
          data-images="assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg"
          >
          <div class="video-tag">
            <video id="example_video_3" class="video-js vjs-default-skin"
              controls preload="auto" width="745" height="425"
              poster="/videos/banner1.png"
             <source src="http://tm-music.qiniudn.com/video-how-to-mobile-qingtie" type='video/mp4' />
             <source src="http://tm-music.qiniudn.com/video-how-to-mobile-qingtie" type='video/webm' />
             <source src="http://tm-music.qiniudn.com/video-how-to-mobile-qingtie" type='video/ogg' />
             <p class="vjs-no-js">你使用的浏览器不支持此视频的播放</p>
            </video>
          </div>

          <div class="">
            <h3 class="bottom_bordered">本教程主要讲解了以下知识点：</h3>
            <ol>
              <li>如何使用手机百度安装维斗喜帖轻应用</li>
              <li>如何在手机上访问维斗喜帖</li>
              <li>了解如何使用教程</li>
              <li>了解如何登录维斗喜帖</li>
              <li>介绍微相册的制作过程</li>
            </ol>
            <h3 class="bottom_bordered">维斗喜帖微应用的分享场景：</h3>
            <ol>
              <li>分享到朋友圈：漂亮的标题和封面直接展现在朋友圈</li>
              <li>发送给微信好友、QQ好友</li>
              <li>编辑一条带链接的短信（后台有提供发送通道）</li>
              <li>分享到社交网络（微博、微信、QQ空间、百度空间、搜狐、人人全部都有）</li>
            </ol>
          </div>
          <p class="text-right"><a class="btn btn-meflat icon-right" href="http://www.wedxt.com/pricing">价格方案<i class="fa fa-arrow-right"></i></a></p>
        </div>
      </article>
      <!-- ==============================================
      END PROJECT ITEM
      =============================================== -->
      <!-- ==============================================
      SINGLE PROJECT ITEM
      =============================================== -->
      <article class="project-item video-item web-design">
        
        <img class="img-responsive project-image" src="/videos/thumb4.png" alt="维斗喜帖视频教程2"><!--Project thumb -->
        
        <div class="hover-mask">
          <h2 class="project-title">如何制作微喜帖</h2><!--Project Title -->
          <p>维斗喜帖</p><!--Project Subtitle -->
        </div>
        
        <!--==== Project Preview HTML ====-->
        <div class="sr-only project-description"
          data-category="维斗喜帖"
          data-date="视频"
          data-client="手机端制作教程"
          data-link="www.wedxt.com"
          data-descr="维斗喜帖，手机轻应用."
          data-images="assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg"
          >
          <div class="video-tag">
            <video id="example_video_4" class="video-js vjs-default-skin"
              controls preload="auto" width="745" height="425"
              poster="/videos/banner1.png"
             <source src="http://tm-music.qiniudn.com/video-how-to-qingtie" type='video/mp4' />
             <source src="http://tm-music.qiniudn.com/video-how-to-qingtie" type='video/webm' />
             <source src="http://tm-music.qiniudn.com/video-how-to-qingtie" type='video/ogg' />
             <p class="vjs-no-js">你使用的浏览器不支持此视频的播放</p>
            </video>
          </div>

          <div class="">
            <h3 class="bottom_bordered">本教程主要讲解了以下知识点：</h3>
            <ol>
              <li>如何通过百度找到维斗喜帖</li>
              <li>如何在手机上访问维斗喜帖</li>
              <li>了解如何使用教程</li>
              <li>了解如何登录维斗喜帖</li>
              <li>介绍微相册的制作过程</li>
            </ol>
            <h3 class="bottom_bordered">维斗喜帖微应用的分享场景：</h3>
            <ol>
              <li>分享到朋友圈：漂亮的标题和封面直接展现在朋友圈</li>
              <li>发送给微信好友、QQ好友</li>
              <li>编辑一条带链接的短信（后台有提供发送通道）</li>
              <li>分享到社交网络（微博、微信、QQ空间、百度空间、搜狐、人人全部都有）</li>
            </ol>
          </div>
          <p class="text-right"><a class="btn btn-meflat icon-right" href="http://www.wedxt.com/pricing">价格方案<i class="fa fa-arrow-right"></i></a></p>
        </div>
      </article>
      <!-- ==============================================
      END PROJECT ITEM
      =============================================== -->
      <!-- ==============================================
      SINGLE PROJECT ITEM
      =============================================== -->
      <article class="project-item video-item web-design">
        
        <img class="img-responsive project-image" src="/videos/thumb5.png" alt="维斗喜帖视频教程2"><!--Project thumb -->
        
        <div class="hover-mask">
          <h2 class="project-title">如何制作微喜帖</h2><!--Project Title -->
          <p>维斗喜帖</p><!--Project Subtitle -->
        </div>
        
        <!--==== Project Preview HTML ====-->
        <div class="sr-only project-description"
          data-category="维斗喜帖"
          data-date="视频"
          data-client="手机端制作教程"
          data-link="www.wedxt.com"
          data-descr="维斗喜帖，手机轻应用."
          data-images="assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg"
          >
          <div class="video-tag">
            <video id="example_video_5" class="video-js vjs-default-skin"
              controls preload="auto" width="745" height="425"
              poster="/videos/banner1.png"
             <source src="http://tm-music.qiniudn.com/video-mp4-zhiaiyisheng" type='video/mp4' />
             <source src="http://tm-music.qiniudn.com/video-mp4-zhiaiyisheng" type='video/webm' />
             <source src="http://tm-music.qiniudn.com/video-mp4-zhiaiyisheng" type='video/ogg' />
             <p class="vjs-no-js">你使用的浏览器不支持此视频的播放</p>
            </video>
          </div>

          <div class="">
            <h3 class="bottom_bordered">本教程主要讲解了以下知识点：</h3>
            <ol>
              <li>如何通过百度找到维斗喜帖</li>
              <li>如何在手机上访问维斗喜帖</li>
              <li>了解如何使用教程</li>
              <li>了解如何登录维斗喜帖</li>
              <li>介绍微相册的制作过程</li>
            </ol>
            <h3 class="bottom_bordered">维斗喜帖微应用的分享场景：</h3>
            <ol>
              <li>分享到朋友圈：漂亮的标题和封面直接展现在朋友圈</li>
              <li>发送给微信好友、QQ好友</li>
              <li>编辑一条带链接的短信（后台有提供发送通道）</li>
              <li>分享到社交网络（微博、微信、QQ空间、百度空间、搜狐、人人全部都有）</li>
            </ol>
          </div>
          <p class="text-right"><a class="btn btn-meflat icon-right" href="http://www.wedxt.com/templates/8">查看模版<i class="fa fa-arrow-right"></i></a></p>
        </div>
      </article>
      <!-- ==============================================
      END PROJECT ITEM
      =============================================== -->
      <!-- ==============================================
      SINGLE PROJECT ITEM
      =============================================== -->
      <article class="project-item video-item web-design">
        
        <img class="img-responsive project-image" src="/videos/thumb6.png" alt="维斗喜帖视频教程2"><!--Project thumb -->
        
        <div class="hover-mask">
          <h2 class="project-title">在移动端访问维斗喜帖</h2><!--Project Title -->
          <p>维斗喜帖</p><!--Project Subtitle -->
        </div>
        
        <!--==== Project Preview HTML ====-->
        <div class="sr-only project-description"
          data-category="维斗喜帖"
          data-date="视频"
          data-client="手机端制作教程"
          data-link="www.wedxt.com"
          data-descr="维斗喜帖，手机轻应用."
          data-images="assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg"
          >
          <div class="video-tag">
            <video id="example_video_6" class="video-js vjs-default-skin"
              controls preload="auto" width="745" height="425"
              poster="/videos/banner1.png"
             <source src="http://tm-music.qiniudn.com/video-visit-wedxt-on-mobile" type='video/mp4' />
             <source src="http://tm-music.qiniudn.com/video-visit-wedxt-on-mobile" type='video/webm' />
             <source src="http://tm-music.qiniudn.com/video-visit-wedxt-on-mobile" type='video/ogg' />
             <p class="vjs-no-js">你使用的浏览器不支持此视频的播放</p>
            </video>
          </div>

          <div class="">
            <h3 class="bottom_bordered">本教程主要讲解了以下知识点：</h3>
            <ol>
              <li>如何通过百度找到维斗喜帖</li>
              <li>如何在手机上访问维斗喜帖</li>
              <li>了解如何使用教程</li>
              <li>了解如何登录维斗喜帖</li>
              <li>介绍微相册的制作过程</li>
            </ol>
            <h3 class="bottom_bordered">维斗喜帖微应用的分享场景：</h3>
            <ol>
              <li>分享到朋友圈：漂亮的标题和封面直接展现在朋友圈</li>
              <li>发送给微信好友、QQ好友</li>
              <li>编辑一条带链接的短信（后台有提供发送通道）</li>
              <li>分享到社交网络（微博、微信、QQ空间、百度空间、搜狐、人人全部都有）</li>
            </ol>
          </div>
          <p class="text-right"><a class="btn btn-meflat icon-right" href="http://www.wedxt.com/templates">查看模版<i class="fa fa-arrow-right"></i></a></p>
        </div>
      </article>
      <!-- ==============================================
      END PROJECT ITEM
      =============================================== -->
    </div>
  </div>

  <!-- ==============================================
  PROJECT PREVIEW MODAL (Do not alter this markup)
  =============================================== --> 
  <div id="project-modal" class="modal fade">
  
    <div class="modal-dialog">
    
      <div class="modal-content">
      
        <div class="modal-header">
        
          <div class="container">
          
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            
            <h1 id="hdr-title" class="text-center"></h1>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="image-wrapper">
                  <img class="img-responsive" src="assets/chrome.png" alt="">
                  <div class="loader"></div>
                  <div class="screen"></div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div id="project-sidebar" class="col-md-3">
                <h2 id="sdbr-title"></h2>
                <p id="sdbr-category"></p>
                <p id="sdbr-date"></p>
                <p id="sdbr-client"></p>
                <p id="sdbr-link"><a href="#link" target="_blank"></a></p>
                <p id="sdbr-descr"></p>
              </div>
              <div id="project-content" class="col-md-8 col-md-offset-1">
              </div>
            </div>
            
          </div>
        </div><!-- End modal-body -->
        
      </div><!-- End modal-content -->
      
    </div><!-- End modal-dialog -->
  </div><!-- End modal -->
</section>