<% title "维斗喜帖视频教程之－如何制作微信请帖,二维码请帖,电子喜帖,请柬" %>
<% meta_keywords "喜帖制作视频教程,请帖制作视频教程,请柬制作视频教程,漂亮微信请帖制作视频教程,商务请帖制作视频教程,微信请柬教程视频教程,微相册视频教程,微杂志视频教程,电子杂志视频教程" %>
<% meta_description "视频教程维斗喜帖教你如何制作电子请帖： 如何在手机上制作电子请帖视频教程；如何在电脑上创建电子请帖视频教程；如何使用二维码请柬视频教程；如何发布电子喜帖视频教程。" %>

<!-- ==============================================
Blog
=============================================== -->
<section id="blog" class="white-bg padding-top-bottom">
  <div class="container">    
    <div class="row blog">
      <% @posts.each do |post| %>   
        <div class="col-md-4 col-sm-6 item scrollimation fade-up">
          <div class="icon">
            <%= link_to "/post/#{post.short_title}" do %>
              <%= image_tag qiniu_image_path(post.image_path, :thumbnail => '300x300>', :quality => 80), class: 'img-responsive img-center', alt: "#{post.title}" %>
            <% end %>
          </div>        
          <h2><%= link_to get_short_content(post.title, 38), "/post/#{post.short_title}" %></h2> 
        </div>
      <% end %>    
    </div>
    <%= will_paginate @posts %>
  </div>
</section>

