<% title "VIP定制-维斗喜帖" %>
<% meta_keywords "维斗喜帖出品,请柬,漂亮微信请帖,商务请帖,二维码请柬,微信请柬,电子喜帖,结婚喜帖" %>
<% meta_description "VIP定制流程，维斗喜帖，漂亮的电子喜帖、商务请柬、微信请帖、二维码请柬。" %>

<div class="container">
  
  <header class="section-header text-center">
    <h1 class="scrollimation scale-in">VIP定制说明</h1>
    <p>所有的应用都是基于模板生成，在制作之前，首先选择一个中意的模板.</p>
  </header>
    
  <ul class="timeline-v2">
    <li>
      <time class="cbp_tmtime" datetime=""><span>步骤</span> <span>1</span></time>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
      <div class="cbp_tmlabel">
        <h2>选择模板</h2>
        <div class="row">
          <div class="col-md-8">
            <ol>
              <li>VIP微场景适用于政府、公司、品牌的微宣传和营销推广！</li>
              <li>我们精心开发漂亮的模板，为高端客户定制专属微场景！</li>
              <li>引爆微场景，势在必行！！</li>
            </ol>
          </div>
          <div class="col-md-4 text-center">
           <a href="/biz" target="_blank" class="btn btn-meflat btn-lg">选择VIP模板</a>
          </div>
      </div>
    </li>
    <li>
      <time class="cbp_tmtime" datetime=""><span>步骤</span> <span>2</span></time>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
      <div class="cbp_tmlabel">
          <h2>填写基本信息</h2>
          <p>请将你的宴请信息提交给我们，同时我们会及时与您取得联系。</p>
          <ol>
            <li><a href="http://www.wedxt.com/doc/wedxt.com.doc" target="_blank" title="下载婚礼客户信息表">点击这里</a>下载客户信息表，填写以后和照片一并发送邮件给我们。</li>
          </ol>
          <p>&nbsp;</p>
      </div>
    </li>
    <li>
      <time class="cbp_tmtime" datetime=""><span>步骤</span> <span>3</span></time>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
      <div class="cbp_tmlabel">
          <h2>发送照片</h2>
          <p>准备10-15张精选照片，如果照片太大，则把照片压缩为1000px以内再发送； <a href="/doc/piczip.rar" taget="_blank">点击这里</a>下载压缩软件。</p>
          <p>照片发送至邮箱： <mark> we@wedxt.com </mark> </p>
      </div>
    </li>
    <li>
      <time class="cbp_tmtime" datetime=""><span>24小时</span> <span>售后</span></time>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
      <div class="cbp_tmlabel">
          <h2>联系我们</h2>
          <p>随时与我们保持联络</p>

          <div>
            <ul class="social-links">
              <li class="scrollimation fade-right d4">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes">
                  <%= image_tag('icon-qq-boy.png', alt: '高大上的维斗喜帖', width: '46px', border: '0px') %>
                </a>
              </li>
              <li class="scrollimation fade-right d3">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes">
                  <%= image_tag('icon-qq-girl.png', alt: '高大上的维斗喜帖', width: '46px', border: '0px') %></a></li>
              <li class="scrollimation fade-right d2">
                <a id="icon-weixin2" data-original-title="扫一扫加微信">
                  <%= image_tag('icon-weixin.png', alt: '高大上的维斗喜帖', width: '46px', border: '0px') %></a>
                  <div id="weixin-qrcode2" class="hidden"><img src="/assets/weixin-qrcode.png" /></div></li>
            </ul>
            <p><br/>热线电话：<a href="tel:18080810818">180-8081-0818</a></p>
            <p>在下方【联系我们】提交你的留言，我们会在15分钟内响应您的请求。</p>
          </div>

          <script type="text/javascript">
            $(document).ready(function() {
              $('#icon-weixin').popover({
                html: true,
                placement: 'right',
                title: '扫描二维码加微信',
                content: function(){
                return $('#weixin-qrcode').html();
                }
              });
            });
          </script>
      </div>
    </li>
    <li>
      <i class="cbp_tmicon rounded-x hidden-xs"></i>
    </li>
    
  </ul>
</div>

