<h3 class="bottom_bordered">手机号登录<small>(免注册)</small></h3>
<div class="row">
  <div class="col-sm-6">
    <%= form_for Member.new do |f| %>
      <%= f.hidden_field :auth_type, value: 'phone' %>
      <div class="input-group">
      <%= f.telephone_field :auth_id, name: "member[auth_id]", class: 'form-control required', placeholder: "请输入你的手机号", autofocus: autofocus || false %>
      <div class="input-group-btn">
        <%= f.submit '登 录', :class => 'btn btn-danger' %>
      </div>
      </div>
      <br/>
      <ul class="list-unstyled">
      <li><small class="help-block">* 请输入你首次创建应用时候的手机号.</small></li>
      <li><small class="help-block">* 请确保你输入的手机号能接收验证码.</small></li>
      <li><small class="help-block">* 首次使用手机登录网站不需要验证码.</small></li>
      </ul>  
    <% end %>
  </div>
</div>