<script type="text/javascript">
  var ready2;
  ready2 = function() {
    xiuxiu.embedSWF("meituContent",<%= @editor_type %>,"100%","100%");
    /*第1个参数是加载编辑器div容器，第2个参数是编辑器类型(1为美化，2为拼图)，第3个参数是div容器宽，第4个参数是div容器高*/
    <% if @site_image.present? %>//如果是修改图片
      xiuxiu.setUploadURL("http://wedxt.com/site_images/meitu_upload?id=<%= @site_image.id %>");
    <% else %>//如果是新添加图片
      xiuxiu.setUploadURL("http://wedxt.com/site_images");
    <% end %>
    //设置裁剪时候比例可见
    xiuxiu.setLaunchVars("sizeTipVisible", 1);
    //显示‘打开图片’按钮
    xiuxiu.setLaunchVars("subBrowseBtnVisible", 1);
    //设置以Form形式上传数据, 选择这个才能实现paperclip文件上传
    xiuxiu.setUploadType(2);
    xiuxiu.setUploadDataFieldName("site_image[image]");
    //设置额外参数， 加载到Form表单中
    xiuxiu.setUploadArgs({ "site_image[site_page_id]": <%= @site_page.id %> });
    xiuxiu.onInit = function ()
    {
      //修改图片时候才加载图片，新添加图片则留空
      <% if @site_image.present? %>
        xiuxiu.loadPhoto("<%= @site_image.image.url %>");
      <% end %>
    }
    xiuxiu.onUploadResponse = function (data)
    {
      //上传完成后处理事件：1. ajax替换图片列表，2.关闭美图Modal窗
      //data的值为图片ID，由controller返回
      <% if @site_image.present? %>//如果是修改图片, 则替换原图片
        $("#site_image_" + data + " img")[0].src = 'http://tm-card.qiniudn.com/site_images/' + data + '/original.jpg?imageMogr/thumbnail/120x120%3E/quality/80" thumbnail="120x120";';
        $("#site_image_alert_" + data).html("更新成功！");
      <% else %>//如果是新添加图片，则将新图片追加到图片列表
        $("#site_images").append('<li class="site_image" id="site_image_' + data + '"> <table> <tr> <td width="50%"> <img alt="Original" class="img-responsive" quality="80" src="http://tm-card.qiniudn.com/site_images/' + data + '/original.jpg?imageMogr/thumbnail/120x120%3E/quality/80" thumbnail="120x120&gt;" /> </td> <td> <span class="handle"><i class="fa fa-long-arrow-up"> </i>上下排序<i class="fa fa-long-arrow-down"> </i></span> </td> </tr> <tr> <td> <a class="btn btn-danger btn-xs" data-confirm="确定要删除吗?" data-method="delete" data-remote="true" href="/site_images/' + data + '" rel="nofollow">删除</a> <a class="btn btn-warning btn-xs" data-remote="true" data-target="#meituModal" data-toggle="modal" href="/site_images/meitu_load?id=' + data + '&editor_type=1">美化</a><a class="btn btn-warning btn-xs" data-remote="true" data-target="#meituModal" data-toggle="modal" href="/site_images/meitu_load?id=' + data + '&editor_type=2">拼图</a> </td> <td> <span id="site_image_alert_' + data + '"></span> </td> </tr> </table></li>');
      <% end %>
      //关闭美图休息Modal框
      close_modal();
    }
    xiuxiu.onClose = function (id)
    {
      close_modal();  //关闭美图休息Modal框
    }
  };

  function close_modal(){
    //关闭Modal框
    $('.modal.in').modal('hide');
    $('.modal-backdrop.in').hide();
    //清空modal内容
    $('.meitu-body').html('');
  }

  //#turbolinks style
  $(document).ready(ready2);
  $(document).on('page:load', ready2);
</script>

<div id="meituContent">
  <h1>美图秀秀加载中...</h1>
</div>
