// Place all the styles related to the s controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font-small{
  font-size: 80%;
}

.biz-thumbnail{
  padding: 0px;
}

.biz-thumbnail>img, .biz-thumbnail a>img {
  max-height: 320px;
  width: 100%;
  overflow: hidden;
}

.recommend-thumbnail{
  padding: 0px;
}
.recommend-thumbnail>img {
  width: 100%;
  height: 260px;
  overflow: hidden;
}