// style form:
// http://webdesign.about.com/od/iframes/a/iframes-and-css.htm

iframe#preview {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  border-radius: 12px; 

  -moz-box-shadow: 4px 4px 14px #000; 
  -webkit-box-shadow: 4px 4px 14px #000; 
  box-shadow: 4px 4px 14px #000; 

/*  -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);*/
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}

#send_sms_form{
  
  input, textarea{
    width: 100%;
  }

  textarea{
    height: 120px;
  }
}