// style form:
// http://webdesign.about.com/od/iframes/a/iframes-and-css.htm

iframe#preview {
 /* -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  border-radius: 12px; */

  -moz-box-shadow: 4px 4px 14px #000; 
  -webkit-box-shadow: 4px 4px 14px #000; 
  box-shadow: 4px 4px 14px #000; 

/*  -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);*/
}

#send_sms_form{
  input, textarea{
    width: 100%;
  }
  textarea{
    height: 120px;
  }
}

//=========== for previews slider ====================
  .vertical .carousel-inner {
    height: 100%;
  }

  .carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
       -moz-transition: 0.6s ease-in-out top;
        -ms-transition: 0.6s ease-in-out top;
         -o-transition: 0.6s ease-in-out top;
            transition: 0.6s ease-in-out top;
  }

  .carousel.vertical .active {
    top: 0;
  }

  .carousel.vertical .next {
    top: 400px;
  }

  .carousel.vertical .prev {
    top: -400px;
  }

  .carousel.vertical .next.left,
  .carousel.vertical .prev.right {
    top: 0;
  }

  .carousel.vertical .active.left {
    top: -400px;
  }

  .carousel.vertical .active.right {
    top: 400px;
  }

  .carousel-control.left {
    background-image: none;
    top: 200px;
  }
  .carousel-control.right {
    background-image: none;
    right: 60px;
    top: 200px;
  }
  .carousel.vertical .item {
      left: 0;
  }
  .iphone-bg {
    height: 620px;
    background: url("/assets/iphone-black.png") top left no-repeat;
    position: relative;
    padding-top: 103px;
    padding-left: 50px;
  }

  p.p-payment-status-block{
    height: 55px;
  }