<p>你好 <%= @resource.email %>!</p>

<p>您正在请求【维斗喜帖】网重置密码服务，请确认是否是你本人行为，如果确实需要重置密码，请点击以下链接.</p>

<p><%= link_to '密码重置', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是你本人的操作，请忽略本邮件.</p>
<p>在密码重置生效之前，你仍然可以使用原来的密码登录维斗喜帖，<a href="http://www.wedxt.com/users/sign_in" target="_blank">维斗喜帖登录入口</a>.</p>
