
<header class="section-header text-center">
    <h1 class="scrollimation scale-in"><%= title "修改应用" %></h1>
</header>

<div class="row services">
  <div class="col-md-6 text-right">
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <%= image_tag 'demo/sites.new.png' %>
  </div>
</div>

 