
<header class="section-header text-center">
  <h1 class="scrollimation scale-in"><%= title "修改应用" %></h1>
</header>

<div class="row services">
  <div class="col-sm-12 col-md-4 col-md-offset-5">
    <%= render 'form' %>
  </div>
</div>

 