
<header class="section-header text-center">
    <h1 class="scrollimation scale-in"><%= title "修改应用" %></h1>
    <p>初次创建应用遇到问题，可参考教程[如何创建一个漂亮的微信喜帖应用].<br/> 应用的创建分三步： 1. 创建； 2. 编辑页面内容； 3. 发布应用.</p>
</header>

<div class="row services">
    <div class="col-md-12 col-sm-12 item scrollimation fade-up">
        <div class="icon">
            <img class="img-responsive img-center" src="/assets/service1.png" alt="微信喜帖应用" />
        </div>
        <%= render 'form' %>
    </div>
</div>
