
<header class="section-header text-center">
  <h1 class="scrollimation scale-in"><%= title "创建应用" %></h1>
  <div class="hidden-xs hidden-sm">
    <p>应用的创建分三步：<br/> 1. 创建应用； 2. 编辑页面内容； 3. 发布应用.</p>
  </div>
</header>

<div class="row services">
  <div class="col-sm-12 col-md-8 col-offset-2">
    <%= render 'form' %>
  </div>
</div>

 