<% content_for :bg_css do %>
color-bg
<% end %>

<div class="row hidden-md hidden-lg">
  <div class="col-sm-12 text-center">
    <img src="http://qrickit.com/api/qr?d=<%=get_site_url(@site)%>&fgdcolor=F1678D&bgdcolor=f2f2f2&qrsize=200&t=p&e=m">
    <br/>
    <a href="<%= get_site_url(@site) %>" target="_blank">点击预览</a>
    <p><br/>
      <% if signed_in? %>
        <a href="/sites">
          <i class="fa fa-arrow-left"></i> 返回
        </a>
      <% else %>
        <a href="/portfolio">
          <i class="fa fa-arrow-left"></i> 返回
        </a>
      <% end %>
  </p>
  </div>
</div>

<div class="row hidden-sm hidden-xs">
  <div class="col-sm-12 col-md-3 col-md-offset-1">
    <div style="margin-top: 200px; align: right; text-align: right; ">
      <img src="http://qrickit.com/api/qr?d=<%=get_site_url(@site)%>&fgdcolor=F1678D&bgdcolor=f2f2f2&qrsize=200&t=p&e=m">
      <br/>
      <small>打开手机扫一扫，精彩呈现！</small>
      <div style="margin-top: 60px; text-align: right;">
        <% if signed_in? %>
          <a href="/sites">
            <i class="fa fa-arrow-left"></i> 返回
          </a>
        <% else %>
          <a href="/portfolio">
            <i class="fa fa-arrow-left"></i> 返回
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-2 col-md-offset-1 hidden-sm hidden-xs">
    <div style="margin-top: 240px; margin-right: 20px; color: #f2f2f2;">
      <i class="fa fa-arrow-right fa-5x"></i>
    </div>
  </div>
  <div class="col-sm-12 col-md-5 hidden-sm">
    <div class="iphone-bg-white">
      <iframe id="preview" src="<%= get_site_url(@site) %>" width="315px" height="482px" frameBorder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>