<!-- ==============================================
    FOOTER
    =============================================== --> 
<footer id="main-footer" class="dark-bg light-typo">

  <div class="container">
  
    <hr>
    
    <div class="row">
    
      <div class="col-sm-6">
        <ul class="social-links">
          <li class="scrollimation fade-right d4"><a href="#link" title="云简历"><i class="fa fa-barcode fa-fw"></i></a></li>
          <li class="scrollimation fade-right d3"><a href="#link" title="二维码产品增强系统"><i class="fa fa-qrcode fa-fw"></i></a></li>
          <li class="scrollimation fade-right d2"><a href="#link" title="微信账号: xuejiang_song"><i class="fa fa-comment fa-fw"></i></a></li>
          <li class="scrollimation fade-right d2"><a href="#link" title="QQ联系： 77632132"><i class="fa fa-cloud fa-fw"></i></a></li>
          <li class="scrollimation fade-right d1"><a href="#link" title="制作教程-百度经验"><i class="fa fa-th fa-fw"></i></a></li>
          <li class="scrollimation fade-right"><a href="#link" title="产品实验室"><i class="fa fa-heart fa-fw"></i></a></li>
        </ul>
      </div>
      
      <div class="col-sm-6 text-right scrollimation fade-in">
        <p>&copy;2014 电子请帖/微信喜帖制作 <a href="tel:18080810818"><i class="fa fa-phone-square"></i> 180-8081-0818</a></p>
      </div>
      
    </div>
    
  </div>
  
</footer>