<footer style="text-align:center; color:#ffd800;margin-right:20px">
  <div style="margin-top: 40px;" class="text-center">
    <a href="http://wedxt.com" target="_blank"><img src="/assets/logo.png" width="80px" /></a>
  </div>
</footer>