<h1>短信验证</h1>
<p>我们为你发送了一条验证码短信，请注意查收。</p>

<%= form_tag(verify_token_members_path) do |f| %>
  <%= hidden_field_tag :id, session[:token] %>
  <div class="row">
    <div class="col-md-1 color-bg text-center">
      <h1 id="countdown"></h1>
    </div>
    <div class="col-md-11 col-sm-8">
      <div class="input-group">
        <%=text_field_tag :auth_token, nil, class: 'form-control', placeholder: "请输入验证码" %>
        <div class="input-group-btn">
          <%= submit_tag '验 证', :class => 'btn btn-danger' %>
        </div>
      </div>
      <span class="help-block">* 亲，请相信我们的短信服务绝对没有上市公司的来得快，所以请给点耐心，2分钟以内不要重复提交、重复验证.</span>
      <span class="help-block">* 最近遇到有点手机无法正确验证的情况，这个时候建议你选择<a href="/users/sign_in" target="_blank">第三方登录方式</a>登录网站.</span>
      <br/><br/>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var i = 120;
  function page_cg() {
    $("#countdown").html(""+i+"");
    if (i > 0) {
        i--;
    }
    window.setTimeout(function () { page_cg() }, 1000);
  };
  
  $( document ).ready(function() {
    page_cg();
  });
</script>